<!DOCTYPE html>
<head>
  <title>&lt;cLoudspeaker&gt;</title>
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  <script src="http://js.pusher.com/1.11/pusher.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    // Enable pusher logging - don't include this in production
    Pusher.log = function(message) {
      if (window.console && window.console.log) window.console.log(message);
    };

    // Flash fallback logging - don't include this in production
    WEB_SOCKET_DEBUG = true;

    var pusher = new Pusher('70dee955ca1ffbaa59ae');
    var channel = pusher.subscribe('test_channel');
    channel.bind('my_event', function(data) {
      alert(data);
    });
  </script>
</head>

{% block scripts %}
<script type="text/javascript">

	function disableSelection(target){
		if (typeof target.onselectstart!="undefined") //IE 
	    		target.onselectstart=function(){return false;}
		else if (typeof target.style.MozUserSelect!="undefined") //Firefox
	   		target.style.MozUserSelect="none";
		else //Chrome, Opera
	  		target.onmousedown=function(){return false;}
		target.style.cursor = "default"
	}

	$(document).ready(function() {
		disableSelection(document.body)
	});
</script>
<script src="{{ url_for('static', filename='date_picker.js') }}"></script>
{% endblock %}
{% block body %}

	<div id="search a song" style="clear:both"></div><br style="clear:both;" />

	<form action="{{ url_for('create_event') }}" method="post">
		<input type="submit" value = "Create" onclick="return confirmSubmit()" />
	</form>
{% endblock %}